<h1>Welcom to PizzaShop!</h1><br>

<div class = "row">
	<% @products.each do |p|%>
		<div class = "col-md-3">
			<div>
				<h3><%= p.title%></h3>
			</div>

			<div>
				<img src="<%= p.path_to_image%>"/>
			</div>

			<div>
				<%= p.description%>
			</div>

			<div>
				Price: <%= p.price%> rub
			</div>

			<div>
				Size: <%= p.size%> sm
			</div>

		</div>
	<%end%>
</div>

<br>
<button class="btn btn-primary" onclick="something()">Нажми сюда!</button>

